*.bak
*~
*.swp
.*.swp

*.webloc
*.WEBLOC
*.DS_Store

# Executables and libraries
*.o
*.out
*.exe
*.EXE
*.msi
*.MSI
*.lo
*.slo
*.so
*.a
*.la
*.dmg
*.DMG
*.iso
*.ISO
*.img
*.IMG
core

# Archives
*.zip
*.tar
*.tgz
*.jar
*.class
*.log



